

<div><%= form_for @job do |f| %>
<!-- drop down category -->
	<div>
	<%= f.collection_select :category_id, Category.all, :id, :name, {prompt:"Choose a category"}  %>
	</div>
<!-- form input -->

 	<div class="form-group">
	 	<%= f.label "Job Title" %>
	 	<%= f.text_field :title %>
	 </div>

	 <div class="form-group">
	 	<%= f.label "Job Description" %>
	 	<%= f.text_field :description %>
	 </div>

	  <div class="form-group">
	 	<%= f.label "Clinic" %>
	 	<%= f.text_field :company %>
	 </div>


	  <div class="form-group">
	 	<%= f.submit "Post Job", class: "btn btn-primary" %>
	 </div>

 <% end %>
 </div>
 
