<!--------------------- TOP RATED -------------------->


<div id="jumbotron">
  <div class="container">
 	<h3 class="text-center">
 		Top Rated 
 	</h3>

  		<div id="seth">
  			<%= image_tag "seth.jpg", :alt => "Sethy the bud tender", class: "img-rounded recommended" %>
  			<span class="glyphicon glyphicon-chevron-left"></span>
  			<p class="text-center recommended-name">Sethy</p>
  			<p class="text-center ratings">
  				169
  				<i class="fa fa-thumbs-up"></i>
  				8
  				<i class="fa fa-thumbs-down"></i>

  			</p>


  		</div>
  		<div id="james">
  			<%= image_tag "james.jpg", :alt => "Jamie the grower", class: "img-rounded recommended" %>
  			<span class="glyphicon glyphicon-chevron-right"></span>
  			<p class="text-center recommended-name">Jamie</p>
  			<p class="text-center ratings">
  				200
  				<i class="fa fa-thumbs-up"></i>
  				16
  				<i class="fa fa-thumbs-down"></i>

  			</p>

  	</div>
  </div>
</div>

<!--------------------- TOP EVENTS -------------------->
<div class="panel panel-success">
  <div class="panel-heading">
    <h3 class="panel-title">May 12 Friday</h3>
  </div>
  
  <div class="panel-body">
  <div class="container">
    <div class="events-img"> 
      <%= image_tag "ccup.png"%>
      <div class="events-description text-center">        
        <h4>2015 Cannabis Cup</h4>
        <p>Colorado</p>
      </div>
    </div>
      <div class="events-img">  
        <%= image_tag "moxie.png"%>
        <div class="events-description text-center">
          <h4>Moxie Seed and more Trade Show</h4>
          <p>Los Angeles</p>
      </div>
    </div>
      <div class="events-img">   
        <%= image_tag "cchew.png"%>
        <div class="events-description text-center">
          <h4>Cheeba Chews Exclusive Pre Launch</h4>
          <p>San Francisco</p>
      </div>
    </div>
  </div>
  </div>
</div>

