<div class="page-header">
	<h1><%= @job.title %></h1>
	<p><%= @job.description %></p>
	<p><%= @job.user.clinic_name %></p>
</div>
<div><%= link_to "Home", root_path %></div>
<div><%= link_to "Edit", edit_job_path(@job) %></div>
<div><%= link_to "Delete", job_path(@job), method: :delete, data: { confirm: "Are you sure??"} %></div>